[access]
	inheritFrom = All-Projects
[project]
	description = The most crucial recipe is a multi-site database cache (mdbc) that enable ONAP components that maintain state in a SQL database to avail the benefits of MUSIC without compromising their need to use transactional SQL DBs. These ONAP components can rely on existing db clustering techniques like MariaDB for transactionality and complex querying within a site. mdbc will intercept each of these read/write calls to the db cluster and mirror this state to other geo-distributed sites through MUSIC either synchronously or asynchronously (configurable at a table-level).  For example, components like the ONAP Service Orchestrator that use MariaDB to maintain state can directly use this recipe with no change to their SQL code.\n\nMoved to read-only as per RELENG-3648
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-music-mdbc-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
